杨争峰： 针对图像识别神经网络的对抗样本生成研究

绪论：
深度神经网络： 神经网络模拟大脑神经元通过突触建立连接、传递信息的过程，建立神经网络节点并按一定结构进行连接，通过调节连接处的权重控制节点间信息传递的效率，
并且在节点上进行激活操作，对接收的信息进行加工。在一定范围内，增加神经网络层数可以提高网络准确性，这种层数较多的神经网络叫做深度神经网络，一般在五层以上，
有一些网络可以达到几百层甚至上千层。

将精心设计得到的微小扰动添加到样本数据中再输入神经网络，可以在人类察觉不到的情况下使已经训练好的网络模型给出完全不同的输出结果，
从而达到攻击效果，被攻击的模型不仅会发生分类错误，还会以很高的置信度输出错误预测结果。这一现象被称作对抗攻击（adversarial attack）现象，
这种能够造成攻击效果的小扰动被称作对抗扰动（adversarial perturbation），将对抗扰动添加到原始样本上会形成一个新的样本，
将新生成的样本输入神经网络中会得到错误的分类结果，这种使神经网络分类错误的新样本被称作对抗样本

为提高神经网络的安全性，研究人员对于对抗攻击现象展开了一系列探索和研究，研究内容可以分为攻击方法 [23, 31-35] 和防御方法 [36-41] 两部分。
攻击方法指的是通过生成对抗扰动对神经网络模型进行攻击的方法，防御方法指的是通过修正对抗样本、修改网络结构等方式避免模型受到对抗攻击，从而提高模型鲁棒性的方法。

关于特定对抗扰动生成：在设计生成特定对抗扰动时，一个重要的目标就是使对抗扰动不易被人眼察觉。目前大部分方法都是通过减小扰动的 lp范数来降低人眼感知度的，
并且已经可以得到范数很小的扰动。

预备知识：
1) 深度神经网络：
神经网络中以神经元为基本单位，每个神经元都是一个独立的信息处理单元，可以对接收到的数据进行线性和非线性变换，并把处理完的数据传递出去。
将神经元按照一定的层级结构相互连接起来就可以构成一个类似生物神经系统的神经网络模型，其中神经元负责加工数据，神经元间的连接负责传输数据，
整个模型基于训练数据可以学习到符合样本特征的函数，从而对新出现的数据进行分类操作。
在神经网络中，数据从前向后传输，神经元是数据处理的基本单元。网络相邻层之间的神经元通过带权边（weights）连接，并在层间设置偏置量（bias），
而同一层内的神经元间没有连接。上一层的输出数据在权重和偏置量的作用下发生线性变换并传入下一层神经元，在每个神经元中都设置了非线性激活函数，
对接收的数据进行非线性变换并传出，数据通过这种方式逐层传递直到到达输出层返回计算结果。

一般情况下，神经网络用于解决分类问题,输出层输出一个概率向量，表示输入向量属于每个类的概率值，其中概率最高的分类即为网络分类结果 y。
除输入层外各层神经元中都会设置激活函数，隐藏层常用的激活函数包括 Sig-moid、Tanh 和 ReLU 三种，在隐藏层加入激活函数可以引入非线性，
这保证了隐藏层叠加的效果，否则多个线性变换的隐藏层叠加后仍然表示一个简单的线性函数，无法起到深度网络的意义。

2) 卷积神经网络：常用于处理图像识别问题
