杨争峰： 针对图像识别神经网络的对抗样本生成研究

绪论：
深度神经网络： 神经网络模拟大脑神经元通过突触建立连接、传递信息的过程，建立神经网络节点并按一定结构进行连接，通过调节连接处的权重控制节点间信息传递的效率，
并且在节点上进行激活操作，对接收的信息进行加工。在一定范围内，增加神经网络层数可以提高网络准确性，这种层数较多的神经网络叫做深度神经网络，一般在五层以上，
有一些网络可以达到几百层甚至上千层。
